@font-face {
  font-family: Roboto-Regular;
  src : url("fonts/Roboto/regular/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto-Black;
  src : url("fonts/Roboto/black/Roboto-Black.ttf") format("truetype");
}
:root {
    --body-bg : white; 
    --light-pink : #FFE5D0; 
    --dark-pink : #512500; 
    --font-regular: Roboto-Regular;
    --font-black:Roboto-Black;
}
html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family:var(--font-regular) ;
}

/*navigation bar*/
nav{
  position: -webkit-sticky;
  position: sticky;
  top:0px;
  margin-bottom: 0px;
  font-family: var(--font-regular);
  z-index: 3 ;
  transition: background-color 0.4s; /*pb! disparait après presentation*/
}


ul[class="left"] {
  list-style-type: none;
  margin-left: 63px;
  padding: 0;
  overflow: hidden;
}

ul[class="right"] {
  list-style-type: none;
  margin-right: 63px;
  padding: 0;
  overflow: hidden;
}

.left li {
  float: left;
}

.right{
  position: absolute;
  right: 63px;
  top : 0px; 
}
.right li {
  list-style-type: none;
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px; /*-bordertop*/
  text-decoration: none;
  border-top: 6px solid transparent;
}

li a:hover {
  border-top: 6px solid var(--dark-pink);
}

.dropdown-content  {
  position: absolute;
  text-align: center;
  min-width: 160px;
  display: none;
  background-color:var(--dark-pink) ;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a{
  border-top: 0px;
  color:white; 
}

.dropdown-content a:hover{
  background-color:#351800;
  border-top: 0px;
}
.dropdown-content a:hover li[class="dropdown"] a{
  border-top: 6px solid var(--dark-pink);
}
#active{
  border-top: 6px solid var(--dark-pink);
}

#play_button{
  background-color: #a52a2a;
  color: white;
  border-top: 6px solid transparent;
}
#play_button_active {
  background-color: #a52a2a;
  color: white;
  border-top: 6px solid #800303;
}
#logo{
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 50%;
  right: 50%;
  top: 1px ; 
}

/*content*/
.content{
  width: 100%;
  position: absolute;
  top:0px;
  z-index: 2;
}

  /*contenthome*/
.background{
  width: 100%;
  height: 548px;
  top: 0px;
  background-image: url("photos/parallax.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center-box{
  position: absolute;
  top: 480px ; /*500px with txt*/
  text-align: center;
  color: black;
  font-family: var(--font-regular);
  font-style: normal;
  z-index: 1;
}
#bigtitle{
  font-family: var(--font-black);
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
}

#description{
  padding-left: 83px;
  padding-right: 83px;
}

    /*felx presentation*/
#presentation{
  margin-top: 243px ; /*space betwenn description and presentation*/
  padding-left: 83px;
  padding-right: 83px; 
}
.flex{
  margin-top: 100px ; /*space between flex box*/
  display: flex;
  flex-direction: row;
  height: 236px;
}

.img_flex{
  flex: 1 1 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.txt_flex{
  flex: 1 1 65% ; 
  word-break: normal;
}


.flex[id="txt_right"] .txt_flex{
  text-align: right;
}

.flex[id="txt_left"] .txt_flex{
  text-align: left;
}
/*project*/
.globe{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content_project{
  font-family: var(--font-regular);
  flex: 1 0 auto;
  margin-right: 63px;
  margin-left: 63px;
}

.f{
  flex-shrink: 0;
}

summary{
  background-color:var(--dark-pink);
  color: white;
}
 /*software*/
 .soft {
  text-align: center;
  background-color: var(--dark-pink);
  color: white; 
  font-size: 25px;
  width: 100%;
}
.soft_url {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.soft_url a{
  color : white; 
  text-decoration: none;
}
.soft_url:hover{
  background-color: #442307;
}

/*team*/
#tbl{
  text-align: center;
  font-family: var(--font-regular);
  table-layout: fixed;
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}
td {
  word-break:normal; 
}

.tbl_txt {
  padding: 15px;
}

#tbl img{
  width: 50;
  height: 50;
}

details{
  margin-top: 10px;
}
 
/*download*/
#progress[value]::-webkit-progress-bar{
  background-color: #512500;
}
.center-center{
  text-align: center;
  margin-top: calc(50vh - 50px);
}
/*footer*/

.push{
  height: 100px ;
}
footer{
  text-align: center;
  background-color: #351800;
  color: white;
  width: 100%;
  height: 60px;
  padding-top: 10px;
}
.footer_txt{
  display: block;
}
.footer_img {
  display: inline-block;
  margin-top: 5px ;
}

@media screen and (max-width : 1218px) {
  /*flex presentation*/
  #presentation{
    margin-top: 100px ; /*space betwenn description and presentation*/
    padding-left: 0px;
    padding-right: 0px; 
  }
  .flex{
    margin-top: 100px; /*space between flex box*/
  }
  .img_flex{
    flex: 1 1 50%;
  }
  .txt_flex{
    flex: 1 1 50%;
  }
  .flex[id="txt_right"]{
    flex-direction: column;
    margin-top: 5px;
  }
  .flex[id="txt_left"]{
    flex-direction: column-reverse;
    margin-top: 5px;
  }
  .flex[id="txt_right"] .txt_flex{
    text-align: center;
  }
  
  .flex[id="txt_left"] .txt_flex{
    text-align: center;
  }
} 